// Colors
$primary-orange: #d87d4a;
$primary-black: #101010;
$primary-grey: #f1f1f1;
$primary-light-grey: #fafafa;
$secondary-light-orange: #ffffff;
$secondary-white: #ffffff;
$secondary-black: #000000;

//Typo
